@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1family=Leckerli+One&display=swap&");

$main-color: #ec058e;
$dark: #351858;
$light: #f140a9;
$lightest: #fff0f2;
$accent: #37b0c9;
$font-color: rgb(24, 24, 24);

$font: "PT Serif", serif;
$font-decorative: "Leckerli One", cursive;
