@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {



  .max-h-83 {
    max-height: 83.333333%;
  }

  .h-90v{
    height: 90vh;
  }

  .h10v {
    height: 10vh;
  }

  .top-130 {
    top:130%;
  }
}
